<html>
  <head>
    <title>{{title}}</title>

    <link
      href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="styles/bootstrap.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.min.css.map" />

    <!-- Style -->
    <link rel="stylesheet" href="styles/style_login.css" />
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="\javascripts\jquery-3.3.1.min.js"></script>
  <script src="\javascripts\popper.min.js"></script>
  <script src="\javascripts\bootstrap.min.js"></script>
  <script src="\javascripts\jquery.sticky.js"></script>
  <script src="\javascripts\main.js"></script>
</html>